<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div style="...">{{ failure }}</div>
<form id="frmlogin" method="POST" style="padding:10px;">


{% csrf_token %}
<h1>Login</h1>
{{form.as_p}}
<input type="submit" value="Login">


<!--<table>
    <tr>
        <td>Role</td>
        <td><label><input type="radio" name="type" value="user" checked>User</label>
        <label><input type="radio" name="type" value="admin">Admin</label>
        </td>
    </tr>

    <tr>
        <td>Username</td>
        <td><input id="txtUserName" type="text" value="username"></td>

    </tr>
    

    <tr>
        <td>Password </td>
        <td><input id="txtPassword" type="password" value="password"></td>

    </tr>
    
    <tr>
        <td><input type="submit" value="Login"></td>
    </tr>

    <tr>
        <td><button id="btnForgotPass">ForgotPassword</button></td>
    </tr>

</table>-->

</form>
</body>
</html>