<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% include "foodapp/header.html" %}
    </div>
    <table>
    <form method="post">
        <table align="center">
    <tr>
        <td><b>Food Id:</b></td>
        <td><input type="text" name="id" readonly value="{{food.id}}"></td>
        </tr>
            <tr>
        <td><b>Food Name:</b></td>
        <td><input type="text" name="name"  value="{{food.name}}"> </td>
             </tr>


        <tr>
            <td><b>Food Category:</b></td>
            <td><input type="text" name="category" value="{{food.category}}"></td>

        </tr>
        <tr>
            <td><b>Food Price:</b></td>
            <td><input type="text" name="price" value="{{food.price}}"></td>

        </tr>

    </tr>
    <tr>
        <td><b> Food Quantity:</b></td>
        <td><input type="text" name="quantity"  value="{{food.quantity}}"></td>
    </tr>

    <tr>
        <td><b> Food Type:</b></td>
        <td><input type="text" name="type"  value="{{food.type}}"></td>
    </tr>

    <tr>
        <td><b> Food Image:</b></td>
        <td><input type="text" name="image"  value="{{food.image}}"></td>
    </tr>

    <tr>
    <td><input type="submit" value="Update Food"></td>
    <td><input type="reset" value="Reset"></td>
    </tr>
</table>

        
        {% csrf_token %}

    </form>
    
</table>
</body>
</html>